@{
    ViewBag.Title = "Thanhtoanthatbai";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2>Thanh toán không thành công</h2>
<p>
    @Html.ActionLink("QUAY VỀ TRANG CHỦ", "Index", "GiayStore")
</p>
